#page {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 5px;
  grid-template-areas:
    "head"
    "main"
    "nav"
}
#page > header{
  grid-area: head;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#page > nav {
  grid-area: nav;
}
#page > main {
  grid-area: main;
}
#page > footer {
  grid-area: foot;
}
body {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,42,121,1) 42%, rgba(147,0,255,1) 86%); 
  background-repeat: no-repeat;
  max-width: 700px;
  min-width: 0;
  padding: 0 10px 25px;
  font-family: "Helvetica", "Arial", sans-serif;
}
.moon{
  opacity: 0.6;
  max-width: 215px;
}
.moonqueen{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:rgb(176, 12, 190);
  z-index: 1;
  font-weight: 1000;
  font-size: 100px;
  text-decoration: none;
}
.splash{
  color: white;
  border-radius: 25px;
  border-style: solid;
  max-height: auto;
  /*padding-top: 25px;
  padding-bottom: 20px;*/
}
.album {
  display: block;
  max-width: 350px;
  max-height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.allison-regular {
  font-family: "Allison", cursive;
  font-style: normal;
}
html, body{
  margin: 0 auto;
  height: 100%;
}
h2 {
    margin-top: 1em;
    padding-top: 1em;
}
nav {
  justify-self: center;
}
nav a {
  color: rgb(153, 177, 255);
  margin-left: 20px;
  text-align: center;
  font-size: 1em;
}

h1,
h2,
strong {
    color: rgb(255, 255, 255);
}


h1 {
    font-size: 26px;
}

h2 {
    font-size: 23px;
}


  
  