#page {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 60px auto;
  row-gap: 5px;
  grid-template-areas:
    "head nav"
    "main main"
    "foot foot"
}
#page > header{
  grid-area: head;
}
#page > nav {
  grid-area: nav;
}
#page > main {
  grid-area: main;
}
#page > footer {
  grid-area: foot;
}
body {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,42,121,1) 42%, rgba(147,0,255,1) 86%); 
  background-repeat: no-repeat;
  max-width: 700px;
  min-width: 0;
  padding: 0 10px 25px;
  font-family: "Helvetica", "Arial", sans-serif;
}
.splash{
  background: white;
  border-radius: 25px;
  padding-top: 25px;
  padding-bottom: 20px;
}
.album {
  display: block;
  max-width: 350px;
  max-height: 350px;
  margin-left: auto;
  margin-right: auto;
}
.allison-regular {
  font-family: "Allison", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  text-decoration: none;
  color: white;
}
html, body{
  margin: 0 auto;
  height: 100%;
}
h2 {
    margin-top: 1em;
    padding-top: 1em;
}

nav a {
    margin-left: 20px;
    text-align: right;
}

h1,
h2,
strong {
    color: rgb(126, 33, 126);
}

header {
    margin: 0px;
    font-size: 23px;
    grid-area: header;
    justify-self: left;
    align-self: end;
}

article {
    font-size: 16px;
    grid-area: ct;
    border-top: 2px solid gray;  
}

nav {
    font-size: 18px;
    letter-spacing: 1px;
    grid-area: nav;
    justify-self: right;
    align-self: end;
  
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 23px;
}
a {
    color: #ffffff;
  }
@media screen and (max-width: 430px) {
  body {
    grid-template-columns: auto;
    grid-template-rows: minmax(10px, 90px) minmax(10px, 50px) auto auto;
    grid-template-areas:
    "header"
    "nav"
    "ct"
  }
  header, nav {
    text-align: center;
    justify-self: center;
  }
  nav a {
    margin: 0 10px;
  }
}
  
  