<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Moon Queen</title>
    <meta name="description" content="An example webpage.">
  </head>
  <header><a href='/' style="text-decoration:none;color:white;">MQ</a></header>
  <body>
    <nav>
        <a href="/about-me">About Me</a>
        <a href="/press-kit">Press Kit</a>
    </nav>
    <article>
      <h1>MoonQueen Homepage</h1>
    </article>
  </body>
</html>