{# templates/nav.html #}

<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allison&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="static/js/scavenger-hunt.js"></script>

    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
  </head>

  <div id="page">
    <header>
      <button type="submit" onClick="clue1_moonset()" class="moonset">
        <img class="moon" src="static/images/sundaymoon.png"/>
      </button>
      <a href='/' class="allison-regular moonqueen">MoonQueen</a><!---->
    </header>
    <body>
      <nav class="allison-regular" style="font-size:30px;">
        <a href="/music" class="navlink">Music</a>
        <a href="/tour" class="navlink">Tour</a>
        <a href="/press-kit" class="navlink">Press Kit</a>
        <a href="/about-me" class="navlink">About</a>
      </nav>
      <main class="splash">
      {% block content %}
      {% endblock content %}
      </main>
    </body>
    
  </div>
  <script>
    
  </script>
</html>